@model MvcForum.Core.Models.FilesAndFolders.FileUpdateViewModel

@{
	Layout = "~/Views/Shared/_LayoutSideBar.cshtml";

	string inputError = "c-input--error";
	string formError = "c-form-group--error";
	string textAreaError = "c-textarea--error";
}

@section GroupHeader {
	@{ Html.RenderAction("GroupHeader", "Group", new { slug = Model.GroupSlug }); }
}

@{Html.RenderPartial("_Breadcrumbs", @Model.Breadcrumbs); }

<h2>Update - @Model.OriginalFileTitle</h2>
<div class="l-row">
	<div class="l-col-12 l-col-8-d">
		<div class="c-card">
			<div class="c-card_content">
				@using (Html.BeginForm())
				{
					@Html.AntiForgeryToken()
					@Html.HiddenFor(model => model.OriginalFileTitle)

					if (!ViewData.ModelState.IsValid)
					{
						<div aria-labelledby="error-summary-title" class="c-error-summary u-margin-bottom-spacing-5" role="alert" tabindex="-1">
							<h2 id="error-summary-title" class="c-error-summary_title">
								There is a problem
							</h2>
							<div class="c-error-summary_body">
								<ul class="c-error-summary_list">

									@Html.Raw(Html.CustomValidationSummary("c-error-summary_error-text"))

								</ul>
							</div>
						</div>
					}

					<div class="c-form-group @Html.FieldHasError(model => model.Name, formError)">
						@Html.LabelFor(model => model.Name, @Html.LanguageString("File.Upload.FileTitle.Label"), htmlAttributes: new { @class = "c-label" })
						<div class="c-hint" id="@Html.DisplayNameFor(model => model.Name)-hint">
							@Html.LanguageString("File.Upload.FileTitle.Guidance")
						</div>

						@Html.ValidationMessageFor(model => model.Name, "", new { @class = "c-error-message" })
						@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "c-input" + " " + Html.FieldHasError(model => model.Name, inputError) } })
					</div>

					<div class="c-form-group @Html.FieldHasError(model => model.Description, formError)">
						@Html.LabelFor(model => model.Description, @Html.LanguageString("File.Upload.FileDescription.Label"), htmlAttributes: new { @class = "c-label" })
						<div class="c-hint" id="@Html.DisplayNameFor(model => model.Description)-hint">
							@Html.LanguageString("File.Upload.FileDescription.Guidance")
						</div>

						@Html.ValidationMessageFor(model => model.Description, "", new { @class = "c-error-message" })
						@Html.TextAreaFor(model => model.Description, new { rows = 5, @class = "c-textarea" + " " + Html.FieldHasError(model => model.Description, textAreaError) })
					</div>

					<div class="c-form-group">
						<input type="submit" value="Save file details" class="c-button" data-mce-requirements="none">
					</div>
				}
			</div>
		</div>
	</div>
</div>

