@{
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
    ViewBag.Title = Html.Lang("Following.PageTitle");
}

@section side
{
    @Html.Partial("_CommonSideNav")
}

<div class="following">

    <div class="following-Groups">
        <h2>@Html.Lang("Following.Groups")</h2>
        @Html.Action("GetSubscribedGroups", "Group")
    </div>
    
    <div class="followingtopics">
        <h2>@Html.Lang("Following.Topics")</h2>
        @Html.Action("GetSubscribedTopics", "Topic")
    </div>  
    
</div>