@model MvcForum.Web.ViewModels.Admin.GroupEditViewModel
@{
    ViewBag.Title = "Create Group";
}

@Html.Partial("_GroupNavButtons")

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm("CreateGroup", "AdminGroup", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(false)
            @Html.AntiForgeryToken()

            @Html.Partial("_GroupFields", Model)

            <div class="submit-holder">
                <input type="submit" class="btn-mvc-green btn-mvc-large" value="Create" />
            </div>
        }
    </div>
</div>

