@model MvcForum.Web.ViewModels.Registration.LogOnViewModel
@using MvcForum.Core.ExtensionMethods
@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = "Log In";
    string inputError = "c-input--error";
    string formError = "c-form-group--error";
}


<div class="u-bg-theme-3 u-max-height">
    <div class="l-container u-padded-top-large">
        <div class="c-grid-block ">

            <div class="c-grid-block_item l-col-12 l-col-6-t">

                @if (!ViewData.ModelState.IsValid)
                {
                <p class="c-info-message c-info-message--error">
                    Unable to log in. Please check your details
                </p>
                }


                <h1>
                    Log In
                </h1>

                <p>
                    Collaborate, connect, share and learn
                </p>


                @using (Html.BeginForm("LogOn", "Members", FormMethod.Post, new { @class = "form-register" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="c-form-group @Html.FieldHasError(model => model.UserName, formError)">
                        @Html.LabelFor(x => x.UserName, "Email address", htmlAttributes: new { @class = "c-label" })
                        @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "c-error-message" })
                        @Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "c-input" + " " + Html.FieldHasError(model => model.UserName, inputError) } })
                    </div>

                    <div class="c-form-group @Html.FieldHasError(model => model.Password, formError)">
                        @Html.LabelFor(x => x.Password, "Password", htmlAttributes: new { @class = "c-label" })
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "c-error-message" })
                        @Html.PasswordFor(x => x.Password, new { @class = "c-input" + " " + Html.FieldHasError(model => model.Password, inputError) })
                    </div>

                    <button type="submit" class="c-button c-button--min-width">
                        Log In
                    </button>

                    @Html.HiddenFor(x => x.ReturnUrl)
                }

                <p class="u-padded-bottom">
                    <a href="@Url.Action("ForgotPassword")">
                        Forgot your password?
                    </a>
                </p>

                <h2>
                    Register your interest
                </h2>

                <p class="u-padded-bottom">
                    Don't have an account? <a href="mailto:support@futurenhs.zendesk.com?subject=Register Interest">Register your interest</a>
                </p>

            </div>
        </div>
    </div>
</div>
