@model MvcForum.Web.ViewModels.Registration.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
    ViewBag.Title = Html.LanguageString("Members.ChangePassword.Title");

    string inputError = "c-input--error";
    string formError = "c-form-group--error";
}

<h2 class="u-margin-bottom-spacing-0">@ViewBag.Title</h2>

<div class="l-row">
    <div class="l-col-6">
        @using (Html.BeginForm("ChangePassword", "Members", FormMethod.Post, new { @class = "form-forgotpassword" }))
        {
            @Html.AntiForgeryToken()

            if (!ViewData.ModelState.IsValid)
            {
                <div aria-labelledby="error-summary-title" class="c-error-summary u-margin-bottom-spacing-5" role="alert" tabindex="-1">
                    <h2 id="error-summary-title" class="c-error-summary_title">There is a problem</h2>
                    <div class="c-error-summary_body">
                        <ul class="c-error-summary_list">
                            @Html.Raw(Html.CustomValidationSummary("c-error-summary_error-text"))
                        </ul>
                    </div>
                </div>
            }

            <p>
                @string.Format(Html.LanguageString("Members.ChangePassword.Text"), Membership.MinRequiredPasswordLength)
            </p>

            <div class="c-form-group @Html.FieldHasError(model => model.OldPassword, formError)">
                @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "c-label" })
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "c-error-message" })
                @Html.PasswordFor(model => model.OldPassword, new { @class = "c-input" + " " + Html.FieldHasError(model => model.OldPassword, inputError) })
            </div>

            <div class="c-form-group @Html.FieldHasError(model => model.NewPassword, formError)">
                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "c-label" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "c-error-message" })
                @Html.PasswordFor(model => model.NewPassword, new { @class = "c-input" + " " + Html.FieldHasError(model => model.NewPassword, inputError) })
            </div>

            <div class="c-form-group @Html.FieldHasError(model => model.ConfirmPassword, formError)">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "c-label" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "c-error-message" })
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "c-input" + " " + Html.FieldHasError(model => model.ConfirmPassword, inputError) })
            </div>

            <div class="c-form-group">
                <input type="submit" value="@Html.LanguageString("Buttons.ChangePassword")" class="c-button" data-mce-requirements="none">
            </div>
        }
    </div>
</div>