@using System.Globalization
@model MvcForum.Web.ViewModels.Member.ViewMemberViewModel
@{
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
    ViewBag.Title = string.Concat(Model.User.UserName, " ",Html.LanguageString("Members.ProfileTitle"));
    var pageTitle = Model.ViewingOwnProfile() ? Html.LanguageString("Members.Profile.ViewMyProfile") : "Member Profile";
}

@section Header
{
}

@section side
{
}
<div class="l-container c-edit-profile">
    <div class="l-row">

        <div class="l-col-6 l-col-4-t l-col-3-d">

            @{
                Model.User.MemberImageSize = 205;
                Model.User.CustomClassName = "c-avatar--large";
                Html.RenderPartial("_UserAvatar", @Model.User);
                Model.User.CustomClassName = null;
            }


        </div>

        <div class="l-col-12 l-col-9-d">

            <div class="l-container">
                <div class="l-row">
                    <div class="l-col-12">
                        <h2 class="u-text-theme-0 u-heading-lead u-margin-left-spacing-0">@pageTitle</h2>
                        @* <h3>Your details...</h3> *@

                        <div class="c-input-group u-margin-bottom-spacing-0 u-padding-bottom-spacing-0">
                            @Html.LabelFor(model => model.User.FirstName, @Html.LanguageString("Members.Label.FirstName"), htmlAttributes: new { @class = "c-label u-text-bold" })
                            <span class="c-hint u-text-small">
                                @Html.DisplayFor(model => model.User.FirstName)
                            </span>
                        </div>

                        <div class="c-input-group u-margin-bottom-spacing-0 u-padding-bottom-spacing-0">
                            @Html.LabelFor(model => model.User.Surname, @Html.LanguageString("Members.Label.Surname"), htmlAttributes: new { @class = "c-label u-text-bold" })
                            <span class="c-hint u-text-small">
                                @Html.DisplayFor(model => model.User.Surname)
                            </span>
                        </div>

                        @if (Model.ShowPronouns())
                        {
                            <div class="c-input-group u-margin-bottom-spacing-0 u-padding-bottom-spacing-0">
                                @Html.LabelFor(model => model.User.Pronouns, @Html.LanguageString("Members.Label.Pronouns"), htmlAttributes: new { @class = "c-label u-text-bold" })
                                <span class="c-hint u-text-small">
                                    @Html.DisplayFor(model => model.User.Pronouns)
                                </span>
                            </div>
                        }

                        <div class="c-input-group u-margin-bottom-spacing-4 u-padding-bottom-spacing-0">
                            @Html.LabelFor(model => model.User.Email, @Html.LanguageString("Members.Label.EmailAddress"), htmlAttributes: new { @class = "c-label u-text-bold" })
                            <span class="c-hint u-text-small">
                                @Html.DisplayFor(model => model.User.Email)
                            </span>
                        </div>

                        @if (!Model.ViewingOwnProfile())
                        {
                            <div class="c-input-group u-margin-bottom-spacing-0 u-padding-bottom-spacing-0 u-margin-top-spacing-9">
                                @Html.LabelFor(model => model.User.LastLoginDate, @Html.LanguageString("Members.Label.LastOnline"), htmlAttributes: new { @class = "c-label u-text-bold" })
                                <span class="c-hint u-text-small">
                                    @DatesUi.GetPrettyDate(Model.User.LastLoginDate.ToString())
                                </span>
                            </div>

                            <div class="c-input-group">
                                @Html.LabelFor(model => model.User.CreateDate, @Html.LanguageString("Members.Label.Joined"), htmlAttributes: new { @class = "c-label u-text-bold" })
                                <span class="c-hint u-text-small">
                                    @DatesUi.GetPrettyDate(Model.User.CreateDate.ToString())
                                </span>
                            </div>
                        }

                        @if (Model.ViewingOwnProfile())
                        {
                            <a class="c-button c-button--outline  u-margin-top-spacing-9" href="@Url.Action("Edit", "Members", new { id = Model.LoggedOnUserId })">@Html.LanguageString("Members.Profile.EditMyProfile")</a>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
