@using MvcForum.Web.ViewModels.Shared




<div class="c-grid-block">

    <div class="c-grid-block_item c-grid-block_item--row l-col-12 l-col-6-lm l-col-12-d">

        <div class="c-card c-card--img-left u-border-theme-8">
            <div class="c-card_img-container"><img class="c-card_img" role="presentation"
                    src="https://picsum.photos/350/200" alt=""></div>
            <div class="c-card_content">
                <h2 class="c-card_heading c-card_heading--small">
                    @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-forum-fill", "c-card_heading-icon u-fill-theme-8"));}
                    <a class="c-card_link" href="forum">Join in the conversation</a>
                </h2>
                <p class="c-card_description u-text-small">Contribute to our forum and help us build a better platform
                </p>
            </div>
        </div>

    </div>

    <div class="c-grid-block_item c-grid-block_item--row l-col-12 l-col-6-lm l-col-12-d">

        <div class="c-card c-card--img-left u-border-theme-8">
            <div class="c-card_img-container"><img class="c-card_img" role="presentation"
                    src="https://picsum.photos/350/200" alt=""></div>
            <div class="c-card_content">
                <h2 class="c-card_heading c-card_heading--small">
                    @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-members-fill", "c-card_heading-icon u-fill-theme-8"));}
                    <a class="c-card_link" href="members">Meet the members</a>
                </h2>
                <p class="c-card_description u-text-small">Meet your colleagues who are getting involved</p>
            </div>
        </div>

    </div>

</div>


@* @model MvcForum.Web.ViewModels.Group.MyGroupListViewModel
@{
	var myAdminGroups = Model.MyGroups.Where(x => x.Role?.RoleName == "Admin").Select(x => x.Group).ToList();
	var myGroups = Model.MyGroups.Where(x => x.Role?.RoleName != "Admin").Select(x => x.Group).ToList();
}

<div class="side-box Group-box">
    <h3 class="side-box_title">@Html.LanguageString("Group.GroupsSideHeading")</h3>
	<p><a href="@Url.Action("Index")">View @Html.LanguageString("Group.AllGroups")</a></p>


	@if (myAdminGroups.Any())
	{
		<h3 class="side-box_title">Admin Groups</h3>

		<ul>
		@foreach (var Group in @myAdminGroups.Where(x => x.ParentGroup == null))
		{
			var currentcatId = Group.Id;
			var subCats = @myAdminGroups.Where(x => x.ParentGroup != null && x.ParentGroup.Id == currentcatId).ToList();

			<li class="catitem">
				<a style="border-color: @(string.IsNullOrEmpty(Group.Colour) ? "#ced1d1" : Group.Colour)" href="@Html.Raw(Group.NiceUrl)">@Html.Raw(Group.Name)</a>
				@if (subCats.Any())
				{
					<ul>
						@foreach (var subCat in subCats)
						{

							<li class="catitem">
								<a style="border-color: @(string.IsNullOrEmpty(subCat.Colour) ? "#ced1d1" : subCat.Colour)" href="@Html.Raw(subCat.NiceUrl)">@Html.Raw(subCat.Name)</a>
							</li>

						}
					</ul>
				}

			</li>

		}
		</ul>
	}
	@if (myGroups.Any())
	{
		<h3 class="side-box_title">My Groups</h3>
		<ul>
			@foreach (var Group in myGroups.Where(x => x.ParentGroup == null))
			{
				var currentcatId = Group.Id;
				var subCats = myGroups.Where(x => x.ParentGroup != null && x.ParentGroup.Id == currentcatId).ToList();

				<li class="catitem">
					<a style="border-color: @(string.IsNullOrEmpty(Group.Colour) ? "#ced1d1" : Group.Colour)" href="@Html.Raw(Group.NiceUrl)">@Html.Raw(Group.Name)</a>
					@if (subCats.Any())
					{
						<ul>
							@foreach (var subCat in subCats)
							{

								<li class="catitem">
									<a style="border-color: @(string.IsNullOrEmpty(subCat.Colour) ? "#ced1d1" : subCat.Colour)" href="@Html.Raw(subCat.NiceUrl)">@Html.Raw(subCat.Name)</a>
								</li>

							}
						</ul>
					}

				</li>

			}
		</ul>
	}


</div> *@