@model MvcForum.Web.ViewModels.Group.GroupListViewModel
@{
    var allCats = Model.AllPermissionSets.Keys;
}
<div class="side-box Groups-box">
    <h5>@Html.LanguageString("Group.GroupsSideHeading")</h5>

    <ul>
        <li><a href="@Url.Action("Index")">@Html.LanguageString("Group.AllGroups")</a></li>
        @foreach (var Group in allCats.Where(x => x.ParentGroup == null))
        {
            var currentcatId = Group.Id;
            var permissions = Model.AllPermissionSets[Group];
            var subCats = allCats.Where(x => x.ParentGroup != null && x.ParentGroup.Id == currentcatId).ToList();
            if (!permissions[ForumConfiguration.Instance.PermissionDenyAccess].IsTicked)
            {
                <li class="catitem">
                    <a style="border-color: @(string.IsNullOrEmpty(Group.Colour) ? "#ced1d1" : Group.Colour)" href="@Html.Raw(Group.NiceUrl)">@Html.Raw(Group.Name)</a>
                    @if (subCats.Any())
                    {
                        <ul>
                            @foreach (var subCat in subCats)
                            {
                                var subPermissions = Model.AllPermissionSets[subCat];
                                if (!subPermissions[ForumConfiguration.Instance.PermissionDenyAccess].IsTicked)
                                {
                                    <li class="catitem">
                                        <a style="border-color: @(string.IsNullOrEmpty(subCat.Colour) ? "#ced1d1" : subCat.Colour)" href="@Html.Raw(subCat.NiceUrl)">@Html.Raw(subCat.Name)</a>
                                    </li>
                                }
                            }
                        </ul>
                    }

                </li>
            }
        }
    </ul>



</div>