@using MvcForum.Core.ExtensionMethods
@using MvcForum.Core.Models.Enums
@using MvcForum.Core.Utilities
@using MvcForum.Web.ViewModels.Group
@using MvcForum.Web.ViewModels.Shared

@model GroupViewModel
@{
	Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
	ViewBag.Title = Html.Raw(Model.Group.PageTitle ?? Model.Group.Name);
	ViewBag.MetaDesc = Model.Group.MetaDescription ?? StringUtils.StripHtmlFromString(Model.Group.Description);
	var totalCount = Convert.ToInt32(Model.TotalCount);
	ViewBag.Canonical = Html.Raw(AppHelpers.CanonicalPagingTag(totalCount, Html.Settings().TopicsPerPage, Html));

	var subScribe = string.Empty;
	var unSubscribe = string.Empty;
	const string displayNone = "style='display:none;'";
	if (Model.IsSubscribed)
	{
		subScribe = displayNone;
	}
	else
	{
		unSubscribe = displayNone;
	}
	//TempData[Constants.DefaultGroupViewBagName] = Model.Group.Id;
}
@section SocialMeta {
	<meta property="og:title" content="@ViewBag.Title" />
	<meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="@ViewBag.Title" />
	<meta name="twitter:description" content="@ViewBag.MetaDesc" />
}
@section side
{

	@if (Model.Tab == Constants.GroupForumTab)
	{
		<h3>TODO: New discussion button needs to go here</h3>

		@* if (User.Identity.IsAuthenticated)
		{
			@Html.Action("CreateTopicButton", "Topic", new{groupId = Model.GroupId})
		} *@

	} else if(Model.Tab == Constants.GroupMembersTab){
        
		@Html.Partial("_CommonSideNav")

    } else {                 
        <div class="c-grid-block">

            <div class="c-grid-block_item c-grid-block_item--row l-col-12 l-col-6-lm l-col-12-d">

                <div class="c-card c-card--img-left u-border-theme-8">
                    <div class="c-card_img-container"><img class="c-card_img" role="presentation"
                            src="https://picsum.photos/350/200" alt=""></div>
                    <div class="c-card_content">
                        <h2 class="c-card_heading c-card_heading--small">
                            @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-forum-fill", "c-card_heading-icon u-fill-theme-8"));}
                            <a class="c-card_link" href="forum">Join in the conversation</a>
                        </h2>
                        <p class="c-card_description u-text-small">Contribute to our forum and help us build a better platform
                        </p>
                    </div>
                </div>

            </div>

            <div class="c-grid-block_item c-grid-block_item--row l-col-12 l-col-6-lm l-col-12-d">

                <div class="c-card c-card--img-left u-border-theme-8">
                    <div class="c-card_img-container"><img class="c-card_img" role="presentation"
                            src="https://picsum.photos/350/200" alt=""></div>
                    <div class="c-card_content">
                        <h2 class="c-card_heading c-card_heading--small">
                            @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-members-fill", "c-card_heading-icon u-fill-theme-8"));}
                            <a class="c-card_link" href="members">Meet the members</a>
                        </h2>
                        <p class="c-card_description u-text-small">Meet your colleagues who are getting involved</p>
                    </div>
                </div>

            </div>

        </div>
	}
}

@Html.Action("GetGroupBreadcrumb", "Group", new { Group = Model.Group })



@*
<div class="widgetright">
	@if (Model.User != null && Html.Settings().EnableEmailSubscriptions)
	{
		<a @Html.Raw(subScribe) href="#" class="emailsubscription" data-id="@Model.Group.Id" data-type="Group">
			@{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-plus", "c-ui-icon c-ui-icon--large"));}
			@Html.LanguageString("Notification.Subscribe")
		</a>
		<a @Html.Raw(unSubscribe) href="#" class="emailunsubscription" data-id="@Model.Group.Id" data-type="Group">
			@{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-minus", "c-ui-icon c-ui-icon--large"));}
			@Html.LanguageString("Notification.UnSubscribe")
		</a>
	}
</div>
*@


@if (Model.Tab == null)
{

	if (Model.GroupUserStatus == GroupUserStatus.NotJoined)
	{
		<a @Html.Raw(subScribe) href="@Url.Action("Join", "Group", new {slug = @Model.Group.Slug})" class="c-button">
			@Html.LanguageString("Groups.Join")
		</a>
	}
	if (Model.GroupUserStatus == GroupUserStatus.Joined)
	{
		<a @Html.Raw(subScribe) href="@Url.Action("Leave", "Group", new {slug = @Model.Group.Slug})" class="c-button c-button--secondary">
			@Html.LanguageString("Groups.Leave")
		</a>
	}

	if (Model.GroupUserStatus == GroupUserStatus.Pending)
	{
		<a @Html.Raw(subScribe) href="#" class="c-button c-button--secondary u-disabled">
			@Html.LanguageString("Pending Approval")
		</a>
	}
	if (Model.GroupUserStatus == GroupUserStatus.Locked)
	{
		<a @Html.Raw(subScribe) href="#" class="c-button c-button--secondary u-disabled">
			@Html.LanguageString("Locked Out")
		</a>
	}
	if (Model.GroupUserStatus == GroupUserStatus.Banned)
	{
		<a @Html.Raw(subScribe) href="#" class="c-button c-button--secondary u-disabled">
			@Html.LanguageString("Banned")
		</a>
	}

	<h3>Hello, <br><br> The FutureNHS team has invited you to this testing workspace for unreleased features of the FutureNHS Platform.</h3>
	<p>As a tester, you'll receive invitations to take part in user testing of new features before they are rolled out to the wider user base. Note: Not everything we beta test will make it to the final version of the product and testing slots will be limited so you may not get to test everything you volunteer for.</p>
	<p>Thank you in advance for helping us make the FutureNHS platform better!</p>
}


@if (Model.SubGroups != null)
{
Html.RenderPartial("_SubGroups", new SubGroupViewModel
{
	AllPermissionSets = Model.SubGroups.AllPermissionSets,
	ParentGroup = Model.Group
});
}

@if (Model.Tab == Constants.GroupForumTab)
{
@Html.Action("GetGroupForum", new { groupId = Model.Group.Id })

}
@if (Model.Tab == Constants.GroupMembersTab)
{
@Html.Action("GetGroupMembers", new { groupId = Model.Group.Id })

}


	
