@model MvcForum.Core.Models.FilesAndFolders.FolderWriteViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FolderWriteViewModel</h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FolderName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FolderName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        @Html.HiddenFor(model => model.FolderName)
        @Html.HiddenFor(model => model.Description)
        @Html.HiddenFor(model => model.ParentFolder)
        @Html.HiddenFor(model => model.ParentGroup)
        @Html.HiddenFor(model => model.Slug)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            <a href="@Url.RouteUrl("GroupUrls", new {slug = Model.Slug, tab = Constants.GroupFilesTab, folder = Model.FolderId})"> back </a>
        </div>
    }
</div>
