@using System.Activities.Statements
@model MvcForum.Web.ViewModels.Folder.FolderViewModel

<div>
    @{
        var count = 1;
        if (Model.BreadCrumbTrail != null && Model.BreadCrumbTrail.Count() != count)
        {
            foreach (var breadCrumb in Model.BreadCrumbTrail)
            {
                var lastEntry = count == Model.BreadCrumbTrail.Count();
                if (!lastEntry)
                {

                    <a href=@breadCrumb.Url class="u-text-small">
                        @breadCrumb.Name &rsaquo;
                    </a>
                }
                else
                {
                    <a class="u-text-small u-text-theme-0">
                        @breadCrumb.Name
                    </a>
                }
                count++;
            }
        }
    }
    <div class="c-section-break"></div>

    @if (Model.Folder != null)
    {
        <h2>@Model.Folder.FolderName</h2>
        <hr>
        <p>@Model.Folder.Description</p>

        @*@Html.ActionLink("Upload file", "Create", "GroupFile", new { folderId = Model.Folder.FolderId, slug = Model.Slug, groupId = Model.GroupId }, new { @class = "c-button c-button-outline c-button--min-width" })*@
        <a href="@Url.RouteUrl("GroupFileUploadUrls", new {slug = Model.Slug, tab = Constants.GroupFilesTab, folderId = Model.Folder.FolderId})" class="c-button c-button-outline c-button--min-width">
            Upload file
        </a>
    }
    else
    {
        <h2>
            Files
        </h2>
        <hr>
    }

    @if (Model.IsAdmin)
    {
        <span>&nbsp;</span>
        <a href="@Url.RouteUrl("GroupFileNewFolderUrls", new {slug = Model.Slug, tab = Constants.GroupFilesTab, parentId = Model.Folder?.FolderId, groupId = Model.GroupId })" class="c-button c-button-outline c-button--min-width">
            Add folder
        </a>
        <span>&nbsp;</span>

        if (Model.Folder != null)
        {
            <a href="@Url.RouteUrl("GroupFileEditFolderUrls", new {slug = Model.Slug, tab = Constants.GroupFilesTab, groupId = Model.GroupId })" class="c-button c-button-outline c-button--min-width">
                Edit folder
            </a>
            <span>&nbsp;</span>
            <a href="@Url.RouteUrl("GroupFileDeleteFolderUrls", new {slug = Model.Slug, tab = Constants.GroupFilesTab, groupId = Model.GroupId })" class="c-button c-button-outline c-button--min-width">
                Delete folder
            </a>
        }
    }

    @if (Model.ChildFolders.Any())
    {
        <div class="c-grid-block">
            <div class="c-grid-block_item l-col-12">
                <div class="u-padding-top-spacing-2 u-padding-bottom-spacing-2 u-margin-bottom-spacing-5 u-bg-theme-1">
                    <table role="table" class="c-table c-table--files">
                        <caption class="c-table_caption u-visually-hidden">
                            Group Folders
                        </caption>
                        <thead role="rowgroup" class="c-table_head">
                            <tr role="row">
                                <th role="columnheader" class="c-table_th" scope="col">
                                    Name
                                </th>
                                <th role="columnheader" class="c-table_th" scope="col">
                                    Number of files
                                </th>
                            </tr>
                        </thead>
                        <tbody class="c-table_body">
                            @foreach (var folder in Model.ChildFolders)
                            {
                                <tr role="row" class="c-table_row">
                                    <td role="cell" class="c-table_cell">

                                        <span class="c-table_heading">Name </span>
                                        <a href="@Url.RouteUrl("GroupUrls", new {slug = Model.Slug, tab = Constants.GroupFilesTab, folder = folder.FolderId})" class="">
                                            @folder.FolderName
                                        </a>

                                    </td>
                                    <td role="cell" class="c-table_cell">
                                        <span class="c-table_heading">Number of files</span>
                                        <span>@folder.FileCount</span>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    }

    @if (Model.Files.Any())
    {
        <div class="c-grid-block">
            <div class="c-grid-block_item l-col-12">
                <div class="u-padding-top-spacing-2 u-padding-bottom-spacing-2 u-margin-bottom-spacing-5 u-bg-theme-1">
                    <table role="table" class="c-table c-table--files">
                        <caption class="c-table_caption u-visually-hidden">
                            Group Files
                        </caption>
                        <thead role="rowgroup" class="c-table_head">
                            <tr role="row">
                                <th role="columnheader" class="c-table_th" scope="col">
                                    Name
                                </th>
                                <th role="columnheader" class="c-table_th" scope="col">
                                    Uploaded by
                                </th>
                                <th role="columnheader" class="c-table_th" scope="col">
                                    Uploaded date
                                </th>
                            </tr>
                        </thead>
                        <tbody class="c-table_body">
                            @foreach (var file in Model.Files)
                            {
                                <tr role="row" class="c-table_row">
                                    <td role="cell" class="c-table_cell">
                                        <span class="c-table_heading">Name </span>

                                        <a href="@Url.RouteUrl("GroupFileUrls", new {slug = Model.Slug, tab = Constants.GroupFilesTab, id = file.Id})" class="">
                                            @file.Title
                                        </a>

                                        @*<a href="@Url.Action("Show", "GroupFile", new { id = file.Id, slug = Model.Slug })" class="">
                                                @file.Title
                                            </a>*@
                                    </td>
                                    <td role="cell" class="c-table_cell">
                                        <span class="c-table_heading">Uploaded by </span>

                                        <a href="@Url.Action("GetByName", "Members", new { slug = @file.UserSlug })" class="">
                                            @file.UserName
                                        </a>
                                    </td>
                                    <td role="cell" class="c-table_cell">
                                        <span class="c-table_heading">Uploaded date </span>
                                        @DatesUi.GetPrettyDate(@file.CreatedDate.ToString())

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>




