@model MvcForum.Web.ViewModels.Folder.FolderListViewModel

<div class="topicshow">
    <h2>Folder list</h2>
    <p>Gets hardcoded list of folders for now.</p>
    <p>Add a ?parent=22D21687-BE44-4287-A7EE-9202ED06C690 to get child folders, otherwise you get root folders.</p>

    @if (Model.Folders.Any())
    {
        <table>
            <tr>
                <th>Folder Id</th>
                <th>Folder Name</th>
                <th>Description</th>
                <th>Added</th>
                <th>Added by</th>
                <th>Parent Id</th>
                <th>Status</th>
            </tr>
            @foreach (var folder in Model.Folders)
            {
                <tr>
                    <td>@folder.FolderId</td>
                    <td>@folder.FolderName</td>
                    <td>@folder.Description</td>
                    <td>@folder.DateAdded</td>
                    <td>@folder.AddedBy</td>
                    <td>@folder.ParentId</td>
                    <td>@folder.Status</td>
                </tr>
            }
        </table>
    }
</div>




