@using MvcForum.Core.Models.Entities
@model MvcForum.Web.ViewModels.Admin.ListGroupsViewModel
@{
    var mainGroups = Model.Groups.Where(x => x.Parent_GroupId == null).ToList();
}

<div class="panel">
    <div class="panel-heading">
        <h5>All Groups</h5>
    </div>
    <div class="panel-content">
        <div id="container">
            <ul>
                @foreach (var cat in mainGroups)
                {
                    <li class="mainGroup">
                        <a href="@Url.Action("EditGroup", new { id = cat.Id })">
                            @Html.Raw(cat.Name)
                        </a>
                        @GetSubGroups(cat)
                    </li>
                }

            </ul>
        </div>
    </div>
</div>



@helper GetSubGroups(Group cat)
{
    var subGroups = Model.Groups.Where(x => x.Parent_GroupId != null && x.Parent_GroupId.Id == cat.Id).ToList();
    if (subGroups.Any())
    {
        <ul>
            @foreach (var subCat in subGroups)
            {
                <li>
                    <a href="@Url.Action("EditGroup", new { id = subCat.Id })">
                        @Html.Raw(subCat.Name)
                    </a>
                    @GetSubGroups(subCat)
                </li>
            }
        </ul>
    }
}

