@using MvcForum.Web.Application.ExtensionMethods
@model MvcForum.Core.Models.Entities.Badge


<div class="publicbadgeline">
    <div class="c-grid-block">
        <div class="publicbadge c-grid-block_item l-col-2 l-col-1-lm">
            <img src="@Url.Content(AppHelpers.ReturnBadgeUrl(Model.Image))" alt="@Model.Name" />
        </div>
        <div class="publicbadgedetails c-grid-block_item l-col-12 l-col-11-lm">
            <p class="publicbadgename">@Html.Raw(Model.DisplayName)</p>
            <p class="publicbadgenamedesc">@Model.Description</p>
            @if (Model.AwardsPoints != null && Model.AwardsPoints > 0)
            {
                <p class="publicbadgeawards">@(string.Format(Html.LanguageString("Badges.AwardsPoints"), Model.AwardsPoints))</p>
            }
        </div>
    </div>
</div>