@using MvcForum.Core.ExtensionMethods
@using MvcForum.Web.Application.ExtensionMethods
@model MvcForum.Web.ViewModels.Group.GroupViewModel

@if (!Model.Permissions[ForumConfiguration.Instance.PermissionDenyAccess].IsTicked)
{
    <div class="Grouprow">

        <h2 style="border-color: @(string.IsNullOrEmpty(Model.Group.Colour) ? "#ced1d1" : Model.Group.Colour)">
            <a href="@Model.Group.NiceUrl">@Html.Raw(Model.Group.Name)</a>
        </h2>
        @if (Model.ShowUnSubscribedLink)
        {
            <p>
                <a href="#" class="emailunsubscription" data-id="@Model.Group.Id" data-type="Group">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    @Html.LanguageString("Notification.UnSubscribe")
                </a>
            </p>
        }
        else
        {
            <p>@Html.Raw(Model.Group.Description.ConvertPostContent())</p>
        }

        <div class="c-grid-block Grouprowfooter">
            <div class="c-grid-block_item l-col-12 l-col-1-d hidden-xs catrss">
                @if (Html.Settings().EnableRSSFeeds)
                {
                    <a title="@Html.LanguageString("Home.Rss")" href="@Url.Action("GroupRss", "Group", new { slug = Model.Group.Slug })" class="rsssubscribe">
                        <i class="fa fa-rss-square orange-colour"></i>
                    </a>
                }
            </div>
            <div class="c-grid-block_item l-col-6 l-col-2-d catdiscussions">
                @string.Format(Html.LanguageString("Rss.Group.Title"), Model.TopicCount)
            </div>
            <div class="c-grid-block_item l-col-6 l-col-2-d catcomments">
                @Model.PostCount @Html.LanguageString("Topic.CommentsDetails")
            </div>
            <div class="l-col-12 l-col-7-d catmostrecent">
                @if (Model.LatestTopic != null)
                {
                    <text>
                        @Html.LanguageString("Group.MostRecent") <a href="@Model.LatestTopic.NiceUrl">@Html.Raw(Model.LatestTopic.Name)</a>
                        @Html.Raw(string.Format(Html.LanguageString("Topic.StartedBy"),
                            DatesUi.GetPrettyDate(Model.LatestTopic.CreateDate.ToString()),
                            string.Format("<a href='{0}'>{1}</a>", Model.LatestTopic.User.NiceUrl, Model.LatestTopic.User.UserName)))
                    </text>
                }
            </div>
        </div>
    </div>
}