@using MvcForum.Core.ExtensionMethods
@using MvcForum.Web.Application.ExtensionMethods
@model MvcForum.Web.ViewModels.Group.GroupSummaryViewModel
@using MvcForum.Web.ViewModels.Shared

@if (!Model.Permissions[ForumConfiguration.Instance.PermissionDenyAccess].IsTicked)
{
    <div class="c-grid-block">
            <div class="c-grid-block_item l-col-12">

                    <div class="c-card c-card--img-left u-border-bottom-theme-8">
                         <div class="c-card_img-container u-margin-top-spacing-2 u-margin-left-spacing-2 u-margin-bottom-spacing-2">
                             @if (!string.IsNullOrEmpty(Model.Image))
                            {
                                <div class="c-page-header_image-wrapper">
                                    <img role="presentation" src="@AppHelpers.GroupImage(Model.Image, Model.GroupId, 159)" alt="" class="c-page-header_image u-margin-bottom-spacing-0">
                                </div>
                            }
                        </div>
                        <div class="c-card_content">
                            <h2 class="c-card_heading">
                                <a class="c-card_link" href="@Model.NiceUrl">
                                    @Html.Raw(Model.Name)
                                </a>
                            </h2>
                           
                            <div class="c-card_header">
                                <div class="c-card_header-content u-text-theme-7">
                                    <p class="u-text-small u-has-subheading">
                                        @Model.Description
                                    </p>
                                </div>
                            </div>
                            <div class="c-card_footer u-text-theme-8">
                                <p class="c-card_footer-item">
                                    @{Html.RenderPartial("_SVGIcon", 
                                    new SVGIconViewModel("icon-members", "c-card_footer-icon u-fill-theme-8"));}
                                    <span> @Model.MemberCount member@(Model.MemberCount > 1 || Model.MemberCount == 0 ? "s" : "")</span>
                                </p>

                                @if (Model.DiscussionCount > 0)
                                {
                                    <p class="c-card_footer-item">
                                        @{Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-discussion", "c-card_footer-icon u-fill-theme-8"));}
                                        <span>@Model.DiscussionCount discussion@(Model.DiscussionCount > 1 ? "s" : "")</span>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>

            </div>
    </div>

}
