@using MvcForum.Core.Models.General
@using MvcForum.Web.Application.ExtensionMethods
@using MvcForum.Web.ViewModels.Shared

@{
    // Global Stuff
    var themeName = Html.Settings().Theme;
    var theme = new Theme
    {
        ThemeName = themeName,
        ThemePath = ForumConfiguration.Instance.ThemeRootFolder
    };
    TempData[Constants.CurrentAction] = ViewContext.RouteData.GetRequiredString("action").ToLower();
    TempData[Constants.CurrentController] = ViewContext.RouteData.GetRequiredString("controller").ToLower();
}
<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<meta name="description" content="@ViewBag.MetaDesc" />
	<meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
	<meta property="og:description" content="@ViewBag.MetaDesc" />
	<meta property="og:title" content="@ViewBag.Title" />
	<meta property="og:site_name" content="@Html.Settings().ForumName" />
	<meta property="og:type" content="website" />
	@RenderSection("SocialMeta", false)
	@ViewBag.Canonical
	@Html.Partial("_StyleSheets", theme)
	<link rel="shortcut icon" href="@Url.Content($"~/UI/assets/dist/img/favicon/favicon.ico")">
	<link rel="apple-touch-icon-precomposed"
		  href="@Url.Content($"{theme.ThemePath}/content/images/apple-touch-icon-57-precomposed.png")">
	@RenderSection("Header", false)
	@if (!string.IsNullOrEmpty(Html.Settings().CustomHeaderCode))
	{
		@Html.Raw(Html.Settings().CustomHeaderCode)
	}

	<script type="text/javascript">
	!function (T, l, y) { var S = T.location, k = "script", D = "instrumentationKey", C = "ingestionendpoint", I = "disableExceptionTracking", E = "ai.device.", b = "toLowerCase", w = "crossOrigin", N = "POST", e = "appInsightsSDK", t = y.name || "appInsights"; (y.name || T[e]) && (T[e] = t); var n = T[t] || function (d) { var g = !1, f = !1, m = { initialize: !0, queue: [], sv: "5", version: 2, config: d }; function v(e, t) { var n = {}, a = "Browser"; return n[E + "id"] = a[b](), n[E + "type"] = a, n["ai.operation.name"] = S && S.pathname || "_unknown_", n["ai.internal.sdkVersion"] = "javascript:snippet_" + (m.sv || m.version), { time: function () { var e = new Date; function t(e) { var t = "" + e; return 1 === t.length && (t = "0" + t), t } return e.getUTCFullYear() + "-" + t(1 + e.getUTCMonth()) + "-" + t(e.getUTCDate()) + "T" + t(e.getUTCHours()) + ":" + t(e.getUTCMinutes()) + ":" + t(e.getUTCSeconds()) + "." + ((e.getUTCMilliseconds() / 1e3).toFixed(3) + "").slice(2, 5) + "Z" }(), iKey: e, name: "Microsoft.ApplicationInsights." + e.replace(/-/g, "") + "." + t, sampleRate: 100, tags: n, data: { baseData: { ver: 2 } } } } var h = d.url || y.src; if (h) { function a(e) { var t, n, a, i, r, o, s, c, u, p, l; g = !0, m.queue = [], f || (f = !0, t = h, s = function () { var e = {}, t = d.connectionString; if (t) for (var n = t.split(";"), a = 0; a < n.length; a++) { var i = n[a].split("="); 2 === i.length && (e[i[0][b]()] = i[1]) } if (!e[C]) { var r = e.endpointsuffix, o = r ? e.location : null; e[C] = "https://" + (o ? o + "." : "") + "dc." + (r || "services.visualstudio.com") } return e }(), c = s[D] || d[D] || "", u = s[C], p = u ? u + "/v2/track" : d.endpointUrl, (l = []).push((n = "SDK LOAD Failure: Failed to load Application Insights SDK script (See stack for details)", a = t, i = p, (o = (r = v(c, "Exception")).data).baseType = "ExceptionData", o.baseData.exceptions = [{ typeName: "SDKLoadFailed", message: n.replace(/\./g, "-"), hasFullStack: !1, stack: n + "\nSnippet failed to load [" + a + "] -- Telemetry is disabled\nHelp Link: https://go.microsoft.com/fwlink/?linkid=2128109\nHost: " + (S && S.pathname || "_unknown_") + "\nEndpoint: " + i, parsedStack: [] }], r)), l.push(function (e, t, n, a) { var i = v(c, "Message"), r = i.data; r.baseType = "MessageData"; var o = r.baseData; return o.message = 'AI (Internal): 99 message:"' + ("SDK LOAD Failure: Failed to load Application Insights SDK script (See stack for details) (" + n + ")").replace(/\"/g, "") + '"', o.properties = { endpoint: a }, i }(0, 0, t, p)), function (e, t) { if (JSON) { var n = T.fetch; if (n && !y.useXhr) n(t, { method: N, body: JSON.stringify(e), mode: "cors" }); else if (XMLHttpRequest) { var a = new XMLHttpRequest; a.open(N, t), a.setRequestHeader("Content-type", "application/json"), a.send(JSON.stringify(e)) } } }(l, p)) } function i(e, t) { f || setTimeout(function () { !t && m.core || a() }, 500) } var e = function () { var n = l.createElement(k); n.src = h; var e = y[w]; return !e && "" !== e || "undefined" == n[w] || (n[w] = e), n.onload = i, n.onerror = a, n.onreadystatechange = function (e, t) { "loaded" !== n.readyState && "complete" !== n.readyState || i(0, t) }, n }(); y.ld < 0 ? l.getElementsByTagName("head")[0].appendChild(e) : setTimeout(function () { l.getElementsByTagName(k)[0].parentNode.appendChild(e) }, y.ld || 0) } try { m.cookie = l.cookie } catch (p) { } function t(e) { for (; e.length;)!function (t) { m[t] = function () { var e = arguments; g || m.queue.push(function () { m[t].apply(m, e) }) } }(e.pop()) } var n = "track", r = "TrackPage", o = "TrackEvent"; t([n + "Event", n + "PageView", n + "Exception", n + "Trace", n + "DependencyData", n + "Metric", n + "PageViewPerformance", "start" + r, "stop" + r, "start" + o, "stop" + o, "addTelemetryInitializer", "setAuthenticatedUserContext", "clearAuthenticatedUserContext", "flush"]), m.SeverityLevel = { Verbose: 0, Information: 1, Warning: 2, Error: 3, Critical: 4 }; var s = (d.extensionConfig || {}).ApplicationInsightsAnalytics || {}; if (!0 !== d[I] && !0 !== s[I]) { var c = "onerror"; t(["_" + c]); var u = T[c]; T[c] = function (e, t, n, a, i) { var r = u && u(e, t, n, a, i); return !0 !== r && m["_" + c]({ message: e, url: t, lineNumber: n, columnNumber: a, error: i }), r }, d.autoExceptionInstrumented = !0 } return m }(y.cfg); function a() { y.onInit && y.onInit(n) } (T[t] = n).queue && 0 === n.queue.length ? (n.queue.push(a), n.trackPageView({})) : a() }(window, document, {
		src: "https://js.monitor.azure.com/scripts/b/ai.2.min.js", // The SDK URL Source
		// name: "appInsights", // Global SDK Instance name defaults to "appInsights" when not supplied
		// ld: 0, // Defines the load delay (in ms) before attempting to load the sdk. -1 = block page load and add to head. (default) = 0ms load after timeout,
		// useXhr: 1, // Use XHR instead of fetch to report failures (if available),
		crossOrigin: "anonymous", // When supplied this will add the provided value as the cross origin attribute on the script tag
		// onInit: null, // Once the application insights instance has loaded and initialized this callback function will be called with 1 argument -- the sdk instance (DO NOT ADD anything to the sdk.queue -- As they won't get called)
		cfg: { // Application Insights Configuration
			instrumentationKey: "@Microsoft.ApplicationInsights.Extensibility.TelemetryConfiguration.Active.InstrumentationKey"
		}
	});
	</script>
</head>

<body class="loggedin-@(User.Identity.IsAuthenticated.ToString().ToLower())">
    @Html.Partial("_SVGSprite")
    <div class="site-overlay"></div>


    @{ Html.RenderAction("SiteHeader", "Layout"); }


    @* START BREADCRUMBS *@
    <div class="c-phase-banner u-bg-theme-3">
        <p class="l-container c-phase-banner_content">
            <strong class="c-phase-banner_tag">
              alpha
            </strong>
            <span class="c-phase-banner_text">
              This is a new service – your <a class="c-link" href="@Html.LanguageString("Header.Phasebanner.FeedbackLink")">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>

    <div class="l-container u-desktop-up">
        <div class="l-col-12">
            <div class="c-grid-block">
                <div class="c-grid-block_item l-col-12">
                    <div class="c-breadcrumb">
                        
                        <div class="c-breadcrumb_path">
                            
                        </div>

                        
                        <div class="c-breadcrumb_support-disclaimer">
                            <p class="u-margin-bottom-spacing-0">
                                <span class="u-text-bold">
                                    Need help?
                                </span>
                                <span>
                                    <a target="_blank" href="https://futurenhstest.service-now.com/csm/?id=futurenhs_test">Visit our support site</a>
                                </span>
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>



    @* END  BREADCRUMBS *@
    
    @*

        <section class="content-strip content-strip-@(User.Identity.IsAuthenticated.ToString().ToLower())">
        <div class="l-container sub-nav-container">
        <div class="c-grid-block">
        <div class="c-grid-block_item l-col-12">
        <ul>
        @Html.Partial("SubNavigation")
        </ul>
        </div>
        </div>
        </div>
        </section>

    *@

    <div class="mainbody">
        @Html.Partial("_GenericMessage")
        @Html.Partial("_EmailConfirmationNotice")
        @Html.Partial("_NoScript")

        @RenderBody()

    </div>
    @* <footer>
        <h2 class="u-visually-hidden">Footer Navigation</h2>
        <div class="l-container">
            <div class="l-col-12">

        @RenderSection("Footer", false)

        <div class="c-grid-block">
        <div class="c-grid-block_item l-col-12 l-col-6-t">
        @Html.Action("GetMainStats", "Stats")
        </div>
        <div class="c-grid-block_item l-col-12 l-col-6-t">
        @Html.Action("GetCurrentActiveMembers", "Members")
        </div>
        </div>

        <div class="c-grid-block">
        <div class="c-grid-block_item l-col-12">
        <div class="licenceblock">
        <!-- ########################## IMPORTANT - PLEASE DO NOT REMOVE WITHOUT LICENSE ###########################

        If you would like to remove the powered by notice, then please vist http://www.mvcforum.com/license -->

        <p>&copy; @DateTime.UtcNow.Year - @Html.LanguageString("Layout.PoweredBy") <a rel="nofollow"
        href="http://www.mvcforum.com">MvcForum.com</a></p>

        <!--########################## IMPORTANT - PLEASE DO NOT REMOVE WITHOUT LICENSE ########################### -->
        </div>
        </div>
        </div>

        </div>
        </footer> *@

    <footer class="c-site-footer">
        @RenderSection("Footer", false)
        <h2 class="u-visually-hidden">Footer Navigation</h2>

        <div class="c-site-footer_nav">
            <div class="l-container">
                <div class="l-col-12">
                    <div class="l-row">

                        <div class="l-col-12 l-col-10-d">

                            <nav aria-label="Footer legal links">

                                <ul role="menu" class="u-list-plain">
                                    <li role="none" class="c-site-footer_nav-item">
                                        <a href=@Url.RouteUrl("AccessibilityStatementUrl") role="menuitem">Accessibility Statement</a>
                                    </li>
                                    <li role="none" class="c-site-footer_nav-item">
                                        <a href=@Url.RouteUrl("ContactUsUrl") role="menuitem">Contact us</a>
                                    </li>
                                    <li role="none" class="c-site-footer_nav-item">
                                        <a href=@Url.RouteUrl("CookiesUrl") role="menuitem">Cookies</a>
                                    </li>
                                    <li role="none" class="c-site-footer_nav-item">
                                        <a href=@Url.RouteUrl("PrivacyPolicyUrl") role="menuitem">Privacy policy</a>
                                    </li>
                                    <li role="none" class="c-site-footer_nav-item">
                                        <a href=@Url.RouteUrl("TermsAndConditionsUrl") role="menuitem">Terms and conditions</a>
                                    </li>
                                </ul>

                            </nav>


                        </div>

                    

                        <div class="l-col-12 l-col-2-d">
                            <p class="c-site-footer_copyright">
                                &copy; Crown copyright
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </footer>


    @if (!string.IsNullOrEmpty(Html.Settings().CustomFooterCode))
    {
        @Html.Raw(Html.Settings().CustomFooterCode)
    }
    @Html.Partial("_JavaScript", theme)
</body>

</html>
