@using MvcForum.Web.ViewModels.Shared
@using Microsoft.Ajax.Utilities
@using MvcForum.Core.Utilities

@{
	Layout = "_Layout.cshtml";
	//PageViewModel pageHeader = ViewBag.PageHeader;
	var hideSideBar = ViewBag.HideSideBar == null ? false : ViewBag.HideSideBar;


}

@section SocialMeta{
	@RenderSection("SocialMeta", false)
}

@section Header {
	@RenderSection("Header", false)
}

@* START BREADCRUMBS 
<div class="l-container u-desktop-up">
	<div class="l-col-12">
		<div class="c-grid-block">
			<div class="c-grid-block_item l-col-12">
				<div class="c-breadcrumb" style="height: 60px">
					 TODO : BREADCRUMBS
				</div>
			</div>
		</div>
	</div>
</div>
*@

@* END  BREADCRUMBS *@

<div class="u-bg-theme-3 u-max-height">
	<div class="l-container l-container--large-desktop-only u-max-height">
		<div class="l-col-12-d u-max-height">
			<div class="c-grid-block u-max-height">
				<div class="c-grid-block_item l-col-fb-0">

					@* START LEFT NAV BLOCK *@
					@{ Html.RenderAction("SideNavigation", "Layout"); }
					@* END LEFT NAV BLOCK *@
				</div>

				<div class="c-grid-block_item l-col-fb-12 u-width-zero">
					
						@* START PAGE HEADER BLOCK *@
						@RenderSection("GroupHeader", false)
					@*END PAGE HEADER BLOCK *@

					<div class="l-col-12 u-padded-left u-padded-top-large u-padded-bottom-large">
						<div class="c-grid-block c-grid-block--reverse-row">
							@if (!hideSideBar)
							{
								<div class="c-grid-block_item l-col-12 l-col-4-d">
									@RenderSection("side", false)
								</div>
								<div class="c-grid-block_item l-col-12 l-col-8-d">
									<main id="main">
										@RenderBody()
									</main>
								</div>
							}
							@if (hideSideBar)
							{
								@RenderSection("side", false)
								<div class="c-grid-block_item l-col-12">
									<main id="main">
										@RenderBody()
									</main>
								</div>
							}

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

@section Footer {
	@RenderSection("Footer", false)
}   