@using MvcForum.Core.Models.General
@using MvcForum.Web.Application.ExtensionMethods
@using MvcForum.Web.ViewModels.Shared

@{
    // Global Stuff
    var themeName = Html.Settings().Theme;
    var theme = new Theme
    {
        ThemeName = themeName,
        ThemePath = ForumConfiguration.Instance.ThemeRootFolder
    };
    TempData[Constants.CurrentAction] = ViewContext.RouteData.GetRequiredString("action").ToLower();
    TempData[Constants.CurrentController] = ViewContext.RouteData.GetRequiredString("controller").ToLower();
}
<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.MetaDesc" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <meta property="og:description" content="@ViewBag.MetaDesc" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:site_name" content="@Html.Settings().ForumName" />
    <meta property="og:type" content="website" />
    @RenderSection("SocialMeta", false)
    @ViewBag.Canonical
    @Html.Partial("_StyleSheets", theme)
    <link rel="shortcut icon" href="@Url.Content($"~/UI/assets/dist/img/favicon/favicon.ico")">
    <link rel="apple-touch-icon-precomposed"
        href="@Url.Content($"{theme.ThemePath}/content/images/apple-touch-icon-57-precomposed.png")">
    @RenderSection("Header", false)
    @if (!string.IsNullOrEmpty(Html.Settings().CustomHeaderCode))
    {
        @Html.Raw(Html.Settings().CustomHeaderCode)
    }
</head>

<body class="loggedin-@(User.Identity.IsAuthenticated.ToString().ToLower())">
    @Html.Partial("_SVGSprite")
    <div class="site-overlay"></div>


    @{ Html.RenderAction("SiteHeader", "Layout", new { pageHeader = ViewBag.PageHeader }); }


    @*

        <section class="content-strip content-strip-@(User.Identity.IsAuthenticated.ToString().ToLower())">
        <div class="l-container sub-nav-container">
        <div class="c-grid-block">
        <div class="c-grid-block_item l-col-12">
        <ul>
        @Html.Partial("SubNavigation")
        </ul>
        </div>
        </div>
        </div>
        </section>

    *@

    <div id="main" class="mainbody">
        @Html.Partial("_GenericMessage")
        @Html.Partial("_EmailConfirmationNotice")
        @Html.Partial("_NoScript")
        <h1 class="u-visually-hidden">Future NHS</h1>

        @RenderBody()

    </div>
    @* <footer>
        <h2 class="u-visually-hidden">Footer Navigation</h2>
        <div class="l-container">
            <div class="l-col-12">

        @RenderSection("Footer", false)

        <div class="c-grid-block">
        <div class="c-grid-block_item l-col-12 l-col-6-t">
        @Html.Action("GetMainStats", "Stats")
        </div>
        <div class="c-grid-block_item l-col-12 l-col-6-t">
        @Html.Action("GetCurrentActiveMembers", "Members")
        </div>
        </div>

        <div class="c-grid-block">
        <div class="c-grid-block_item l-col-12">
        <div class="licenceblock">
        <!-- ########################## IMPORTANT - PLEASE DO NOT REMOVE WITHOUT LICENSE ###########################

        If you would like to remove the powered by notice, then please vist http://www.mvcforum.com/license -->

        <p>&copy; @DateTime.UtcNow.Year - @Html.LanguageString("Layout.PoweredBy") <a rel="nofollow"
        href="http://www.mvcforum.com">MvcForum.com</a></p>

        <!--########################## IMPORTANT - PLEASE DO NOT REMOVE WITHOUT LICENSE ########################### -->
        </div>
        </div>
        </div>

        </div>
        </footer> *@

    <footer class="c-site-footer">
        @RenderSection("Footer", false)
        <h2 class="u-visually-hidden">Footer Navigation</h2>

        <div class="c-site-footer_content">
            <div class="l-container">

                <div class="l-col-12">

                    <div class="l-row">

                        <div class="l-col-12 l-col-8-d ">

                            <p class="c-site-footer_subtitle">
                                Subtitle here
                            </p>

                            <p>
                                Copy here from user story lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                voluptate
                                exercitation ullamco laboris nisi ut aliquip ex commodo.
                            </p>

                        </div>

                        <div class="l-col-12 l-col-4-d">

                            <p id="content-nav-subtitle" class="c-site-footer_subtitle">
                                Subtitle here
                            </p>
                            
                            <nav aria-label="Footer content navigation">

                                <ul role="menu" class="u-list-plain">
                                    <li role="none">
                                        <a href="#">Link #1 lorem ipsum</a>
                                    </li>
                                    <li role="none">
                                        <a href="#">Link #2 lorem ipsum</a>
                                    </li>
                                    <li role="none">
                                        <a href="#">Link #3 lorem ipsum</a>
                                    </li>
                                    <li role="none">
                                        <a href="#">Link #4 lorem ipsum</a>
                                    </li>
                                </ul>

                            </nav>
                        

                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="c-site-footer_nav">
            <div class="l-container">
                <div class="l-col-12">
                    <div class="l-row">

                        <div class="l-col-12 l-col-10-d">

                            <nav aria-label="Footer legal links">

                                <ul role="menu" class="u-list-plain">
                                    <li role="none" class="c-site-footer_nav-item">
                                        <a href="#">NHS sites</a>
                                    </li>
                                    <li role="none" class="c-site-footer_nav-item">
                                        <a href="#">Privacy policy</a>
                                    </li>
                                    <li role="none" class="c-site-footer_nav-item">
                                        <a href="#">Terms and conditions</a>
                                    </li>
                                    <li role="none" class="c-site-footer_nav-item">
                                        <a href="#">Accessibility</a>
                                    </li>
                                </ul>

                            </nav>


                        </div>

                    

                        <div class="l-col-12 l-col-2-d">
                            <p class="c-site-footer_copyright">
                                &copy; FutureNHS
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </footer>

    @Html.Partial("_SlideOutPanel")
    @if (!string.IsNullOrEmpty(Html.Settings().CustomFooterCode))
    {
        @Html.Raw(Html.Settings().CustomFooterCode)
    }
    @Html.Partial("_JavaScript", theme)
</body>

</html>
