@using MvcForum.Core.ExtensionMethods
@model MvcForum.Core.Models.Entities.Post
           
<div class="postsnippet" id="post-@Model.Id">
    <div class="c-grid-block">
        <div class="c-grid-block_item l-col-12 l-col-9-t">
            <h2>Replying in: @Model.Topic.Name</h2>
            <p>@Html.Raw(Model.PostContent.ConvertPostContent())</p>
            <p class="postuser">@Model.User.UserName</p>
        </div>
        <div class="c-grid-block_item l-col-12 l-col-3-t">
            <p><a href="#" data-postid="@Model.Id" data-postaction="approve" class="btn-mvc-green btn-mvc-fullwidth postaction">Approve</a></p>
            <p><a href="#" data-postid="@Model.Id" data-postaction="delete" class="btn-mvc-red btn-mvc-fullwidth postaction">Delete</a></p>
        </div>
    </div>
</div>