@using MvcForum.Core
@using MvcForum.Core.Constants
@using MvcForum.Web.Application
@using MvcForum.Web.Application.ExtensionMethods
@model MvcForum.Core.Models.SystemPages.SystemPageWriteViewModel
@{
    ViewBag.Title = "Create new page";
    var buttonText = (Model.Id == Guid.Empty) ? "Create" : "Save";
}

<div class="backbutton">
    <a href="@Url.Action("Index")" class="btn-mvc-green">&lt;&lt; Back</a>
</div>

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm("Create", "AdminSystemPages", FormMethod.Post))
        {
	        @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


            <div class="form-group">
                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Title)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Slug)
                <p>Slug must not contain any special characters or spaces, an example of a valid slug is terms-and-conditions</p>
                @Html.TextBoxFor(x => x.Slug, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Slug)
            </div>

	        <div class="form-group">
		        @Html.LabelFor(x => x.Content)
		        @Html.EditorFor(x => x.Content)
		        @Html.ValidationMessageFor(x => x.Content)
	        </div>

	        <div class="submit-holder">
		        <input type="submit" class="btn-mvc-green" value="Create" />
	        </div>
        }

    </div>
</div>