@model MvcForum.Core.Models.FilesAndFolders.FileViewModel
@using MvcForum.Web.ViewModels.Shared
@using Microsoft.Ajax.Utilities


@{
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

@section GroupHeader {
    @{ Html.RenderAction("GroupHeader", "Layout", new { slug = Model.Slug, tab = Constants.GroupFilesTab }); }
}

@{Html.RenderPartial("_Breadcrumbs", @Model.Breadcrumbs); }

<h2>@Html.DisplayFor(model => model.File.Title)</h2>
<hr>

<p>@Html.DisplayFor(model => model.File.Description)</p>

<p>
    <span class="u-text-bold">@Html.LanguageString("File.Label.Owner")</span>
    <a href="@Url.Action("GetByName", "Members", new { slug = Model.File.UserSlug })" class="">
        @Model.File.UserName
    </a>
</p>

<div class="c-grid-block">
    <div class="c-grid-block_item l-col-12">
        <div class="u-padding-top-spacing-2 u-padding-bottom-spacing-2 u-margin-bottom-spacing-5 u-bg-theme-1">
            <table role="table" class="c-table c-table--files" id="file-details-table">
                <caption class="c-table_caption u-visually-hidden">File details</caption>
                <thead role="rowgroup" class="c-table_head">
                    <tr role="row">
                        <th role="columnheader" class="c-table_th" scope="col">@Html.LanguageString("File.Label.Name")</th>
                        <th role="columnheader" class="c-table_th" scope="col">@Html.LanguageString("File.Label.UploadedBy")</th>
                        <th role="columnheader" class="c-table_th" scope="col">@Html.LanguageString("File.Label.UploadedDate")</th>
                        <th role="columnheader" class="c-table_th" scope="col">@Html.LanguageString("File.Label.Download")</th>
                    </tr>
                </thead>
                <tbody class="c-table_body">
                    <tr role="row" class="c-table_row">
                        <td role="cell" class="c-table_cell">
                            <span class="c-table_heading">@Html.DisplayNameFor(model => model.File.FileName)</span>
                            <a href="#" class="">@Html.DisplayFor(model => model.File.FileName)</a>
                        </td>
                        <td role="cell" class="c-table_cell">
	                        <span class="c-table_heading">@Html.DisplayNameFor(model => model.File.ModifiedBy)</span>
	                        <a href="@Url.Action("GetByName", "Members", new { slug = Model.File.ModifiedUserSlug })" class="">
		                        @Model.File.ModifiedUserName
	                        </a>
                        </td>
                        <td role="cell" class="c-table_cell">
                            <span class="c-table_heading">@Html.DisplayNameFor(model => model.File.ModifiedDate)</span>
							<span>@DatesUi.GetPrettyDate(Model.File.ModifiedDate.ToString())</span>
                        </td>
                        <td role="cell" class="c-table_cell">
                            <span class="c-table_heading">@Html.LanguageString("File.Label.Download")</span>
                            @if (@Model.File.FileUrl != null)
                            {   
	                            Html.RenderPartial("_SVGIcon", new SVGIconViewModel("icon-download", "c-card_header-social-icon u-fill-theme-8"));
                                @Html.ActionLink(Html.LanguageString("File.Label.Download"), "Download", new { fileId = Model.File.Id })
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>