@model MvcForum.Core.Models.FilesAndFolders.FileViewModel

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

@section GroupHeader {
    @{ Html.RenderAction("GroupHeader", "Layout", new { slug = Model.Slug }); }
}

<h2>Show</h2>

<div>
    <h4>File</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.File.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.FileSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.FileSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.FileExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.FileExtension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.FileUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.FileUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.ModifiedDate)
        </dd>

    </dl>
</div>